USE [master]
GO
/****** Object:  Database [StudentManagement]    Script Date: 08/07/2017 20:14:49 ******/
CREATE DATABASE [StudentManagement] ON  PRIMARY 
( NAME = N'StudentManagement', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\StudentManagement.mdf' , SIZE = 21504KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StudentManagement_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\StudentManagement_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentManagement]
GO
/****** Object:  Table [dbo].[TERMS]    Script Date: 08/07/2017 20:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TERMS](
	[TermId] [int] NOT NULL,
	[TermName] [nvarchar](50) NULL,
	[FromDate] [date] NULL,
	[ToDate] [date] NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_TERMS] PRIMARY KEY CLUSTERED 
(
	[TermId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TERMS] ([TermId], [TermName], [FromDate], [ToDate], [Description]) VALUES (1, N'Summer2017', CAST(0xD43C0B00 AS Date), CAST(0x1D3D0B00 AS Date), NULL)
/****** Object:  Table [dbo].[TEACHERS]    Script Date: 08/07/2017 20:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHERS](
	[TeacherId] [int] NOT NULL,
	[TeacherFirstName] [nvarchar](50) NULL,
	[TeacherMidName] [nvarchar](50) NULL,
	[TeacherLastName] [nvarchar](50) NULL,
	[YearOfExperience] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_TEACHERS] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TEACHERS] ([TeacherId], [TeacherFirstName], [TeacherMidName], [TeacherLastName], [YearOfExperience], [Status], [Password]) VALUES (1, N'Son', N'Tung', N'Ngo', 20, N'Active', N'sonnt')
/****** Object:  Table [dbo].[SUBJECTS]    Script Date: 08/07/2017 20:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECTS](
	[SubjectId] [int] NOT NULL,
	[SubjectCode] [nvarchar](50) NULL,
	[SubjectName] [nvarchar](50) NULL,
 CONSTRAINT [PK_SUBJECTS] PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SUBJECTS] ([SubjectId], [SubjectCode], [SubjectName]) VALUES (1, N'PRJ321', N'Java Web')
INSERT [dbo].[SUBJECTS] ([SubjectId], [SubjectCode], [SubjectName]) VALUES (2, N'PRJ311', N'Java Desk')
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 08/07/2017 20:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[Roll#] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[MidName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[PhoneNumber] [varchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[STUDENTS] ON
INSERT [dbo].[STUDENTS] ([Roll#], [FirstName], [MidName], [LastName], [DateOfBirth], [PhoneNumber], [Country], [Address], [Email], [Password], [StudentId]) VALUES (N'SE04578', N'Bui', N'Nhat', N'Hoang', CAST(0x4A1D0B00 AS Date), N'1', N'Vietnam', N'Hanoi', N'ckypper412@gmail.com', N'1', 1)
INSERT [dbo].[STUDENTS] ([Roll#], [FirstName], [MidName], [LastName], [DateOfBirth], [PhoneNumber], [Country], [Address], [Email], [Password], [StudentId]) VALUES (N'SE0123', N'bui', N'nhat', N'hoang', CAST(0x361E0B00 AS Date), N'01664903706', NULL, N'Hanoi', N'ckypper@gmail.com', N'chyp412', 2)
INSERT [dbo].[STUDENTS] ([Roll#], [FirstName], [MidName], [LastName], [DateOfBirth], [PhoneNumber], [Country], [Address], [Email], [Password], [StudentId]) VALUES (N'SE0234', N'Bui', N'Nhat', N'Hoang', CAST(0x361E0B00 AS Date), N'01664903706', N'Lao', N'hanoi', N'ckypper@gmail.com', N'chyp412', 3)
SET IDENTITY_INSERT [dbo].[STUDENTS] OFF
/****** Object:  Table [dbo].[COURSES]    Script Date: 08/07/2017 20:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES](
	[CourseCode] [nvarchar](50) NULL,
	[CourseDescription] [nvarchar](50) NULL,
	[SubjectId] [int] NULL,
	[TeacherId] [int] NULL,
	[TermId] [int] NULL,
	[CourseId] [int] NOT NULL,
	[Capacity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[COURSES] ([CourseCode], [CourseDescription], [SubjectId], [TeacherId], [TermId], [CourseId], [Capacity]) VALUES (N'SE1107', N'SE1107', 1, 1, 1, 1, 25)
INSERT [dbo].[COURSES] ([CourseCode], [CourseDescription], [SubjectId], [TeacherId], [TermId], [CourseId], [Capacity]) VALUES (N'SE1107', N'SE1107', 2, 1, 1, 2, 33)
/****** Object:  Table [dbo].[COURSE_SCHEDULES]    Script Date: 08/07/2017 20:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_SCHEDULES](
	[TeachingScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[TeachingDate] [date] NULL,
	[Slot] [int] NULL,
	[RoomCode] [int] NULL,
	[Description] [nvarchar](50) NULL,
	[TeacherId] [int] NULL,
	[CourseId] [int] NULL,
 CONSTRAINT [PK_COURSE_SCHEDULES] PRIMARY KEY CLUSTERED 
(
	[TeachingScheduleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[COURSE_SCHEDULES] ON
INSERT [dbo].[COURSE_SCHEDULES] ([TeachingScheduleId], [TeachingDate], [Slot], [RoomCode], [Description], [TeacherId], [CourseId]) VALUES (1, CAST(0xD43C0B00 AS Date), 1, 216, N'JavaWeb', 1, 1)
INSERT [dbo].[COURSE_SCHEDULES] ([TeachingScheduleId], [TeachingDate], [Slot], [RoomCode], [Description], [TeacherId], [CourseId]) VALUES (2, CAST(0xD43C0B00 AS Date), 2, 216, N'JavaWeb', 1, 1)
INSERT [dbo].[COURSE_SCHEDULES] ([TeachingScheduleId], [TeachingDate], [Slot], [RoomCode], [Description], [TeacherId], [CourseId]) VALUES (3, CAST(0xD43C0B00 AS Date), 3, 216, N'JavaWeb', 1, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[COURSE_SCHEDULES] OFF
/****** Object:  StoredProcedure [dbo].[getCourse]    Script Date: 08/07/2017 20:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getCourse]  as    BEGIN   select c.CourseId,c.CourseCode,s.SubjectCode,s.SubjectName,te.TeacherFirstName + ' ' + te.TeacherMidName + ' ' + te.TeacherLastName as "Teacher Name", t.TermName,t.FromDate,t.ToDate,c.Capacity   from COURSES c left outer join TERMS t   on c.TermId = t.TermId   left outer join SUBJECTS s   on c.SubjectId = s.SubjectId   left outer join TEACHERS te   on c.TeacherId = te.TeacherId   END
GO
/****** Object:  Table [dbo].[STUDENT_COURSE]    Script Date: 08/07/2017 20:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_COURSE](
	[StudentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [PK_STUDENT_COURSE] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[CourseId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[STUDENT_COURSE] ([StudentId], [CourseId]) VALUES (1, 1)
INSERT [dbo].[STUDENT_COURSE] ([StudentId], [CourseId]) VALUES (1, 2)
INSERT [dbo].[STUDENT_COURSE] ([StudentId], [CourseId]) VALUES (2, 1)
/****** Object:  Table [dbo].[STUDENT_ATTENDANCE]    Script Date: 08/07/2017 20:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_ATTENDANCE](
	[StudentId] [int] NOT NULL,
	[CourseId] [int] NULL,
	[TeachingScheduleId] [int] NOT NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_STUDENT_ATTENDANCE] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[TeachingScheduleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[STUDENT_ATTENDANCE] ([StudentId], [CourseId], [TeachingScheduleId], [Status]) VALUES (1, 1, 1, N'ABSENT')
INSERT [dbo].[STUDENT_ATTENDANCE] ([StudentId], [CourseId], [TeachingScheduleId], [Status]) VALUES (1, 1, 2, N'PRESENT')
INSERT [dbo].[STUDENT_ATTENDANCE] ([StudentId], [CourseId], [TeachingScheduleId], [Status]) VALUES (1, 1, 3, N'PRESENT')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
/****** Object:  StoredProcedure [dbo].[getTeachingSchedule]    Script Date: 08/07/2017 20:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getTeachingSchedule]
@TeacherId int,
@CourseId int,
@page_start int,
@page_size int
as
begin
select * from(
select ROW_NUMBER() over (order by cs.TeachingScheduleId asc) as rn,DATENAME(dw,cs.TeachingDate) as [DAY],cs.TeachingDate,cs.RoomCode,s.SubjectCode,s.SubjectName,c.CourseCode,cs.Slot,cs.TeachingScheduleId
from COURSE_SCHEDULES cs left outer join COURSES c
on cs.CourseId = c.CourseId
left outer join SUBJECTS s
on c.SubjectId = s.SubjectId
Where cs.TeacherId = @TeacherId and cs.CourseId = @CourseId) as x
Where rn between @page_start and @page_start + @page_size
end
GO
/****** Object:  StoredProcedure [dbo].[filldates]    Script Date: 08/07/2017 20:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[filldates]
@dateStart date,
@dateEnd date,
@slot int,
@description varchar(50),
@teacherId int,
@roomCode int,
@courseId int
as
BEGIN
  WHILE @dateStart <= @dateEnd
  BEGIN
  WHILE @slot <4
  BEGIN
    INSERT INTO COURSE_SCHEDULES VALUES (@dateStart,@slot,@roomCode,@description,@teacherId,@courseId);
    SET @slot = @slot +1
  END
	SET @slot = 1
	SET @dateStart = DATEADD(DAY,1,@dateStart);
  END
END;
GO
/****** Object:  StoredProcedure [dbo].[getStudentCourse]    Script Date: 08/07/2017 20:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getStudentCourse]
	@rollNumber nvarchar(50)
as
select c.CourseId
from STUDENT_COURSE sc left outer join STUDENTS s
on sc.StudentId = s.StudentId
left outer join COURSES c
on sc.CourseId = c.CourseId
where s.Roll# = @rollNumber
GO
/****** Object:  StoredProcedure [dbo].[getStudentAttendance]    Script Date: 08/07/2017 20:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getStudentAttendance]
@StudentId int,
@CourseId int,
@page_start int,
@page_size int
as
begin
select * from(
select ROW_NUMBER() over (order by sa.TeachingScheduleId asc) as rn, DATENAME(dw,cs.TeachingDate) as [Day], cs.TeachingDate,cs.RoomCode,s.SubjectCode,s.SubjectName,c.CourseCode,t.TeacherFirstName +' ' + t.TeacherMidName +' ' + t.TeacherLastName as Teacher,cs.Slot,sa.[Status],sa.TeachingScheduleId
from STUDENT_ATTENDANCE sa left outer join COURSE_SCHEDULES cs
on sa.TeachingScheduleId = cs.TeachingScheduleId
left outer join COURSES c
on sa.CourseId = c.CourseId
left outer join SUBJECTS s
on c.SubjectId = s.SubjectId
left outer join TEACHERS t
on cs.TeacherId = t.TeacherId
Where sa.StudentId = @StudentId and sa.courseId = @CourseId) as x
Where rn between @page_start and @page_start + @page_size
end
GO
/****** Object:  StoredProcedure [dbo].[getStudentList]    Script Date: 08/07/2017 20:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getStudentList]
@teachingScheduleId int
as
Begin
select distinct s.StudentId,s.FirstName +' ' + s.MidName +' ' + s.LastName ,s.Roll#,sa.[Status]
 from STUDENT_ATTENDANCE sa left outer join STUDENTS s
 on sa.StudentId = s.StudentId
 where sa.TeachingScheduleId = @teachingScheduleId
 End
GO
/****** Object:  Default [DF_default]    Script Date: 08/07/2017 20:14:59 ******/
ALTER TABLE [dbo].[STUDENT_ATTENDANCE] ADD  CONSTRAINT [DF_default]  DEFAULT (N'NOT YET') FOR [Status]
GO
/****** Object:  ForeignKey [FK_COURSES_SUBJECTS]    Script Date: 08/07/2017 20:14:55 ******/
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_SUBJECTS] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[SUBJECTS] ([SubjectId])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_SUBJECTS]
GO
/****** Object:  ForeignKey [FK_COURSES_TEACHERS]    Script Date: 08/07/2017 20:14:55 ******/
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_TEACHERS] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[TEACHERS] ([TeacherId])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_TEACHERS]
GO
/****** Object:  ForeignKey [FK_COURSES_TERMS]    Script Date: 08/07/2017 20:14:55 ******/
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_TERMS] FOREIGN KEY([TermId])
REFERENCES [dbo].[TERMS] ([TermId])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_TERMS]
GO
/****** Object:  ForeignKey [FK_COURSE_SCHEDULES_COURSES]    Script Date: 08/07/2017 20:14:55 ******/
ALTER TABLE [dbo].[COURSE_SCHEDULES]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_SCHEDULES_COURSES] FOREIGN KEY([CourseId])
REFERENCES [dbo].[COURSES] ([CourseId])
GO
ALTER TABLE [dbo].[COURSE_SCHEDULES] CHECK CONSTRAINT [FK_COURSE_SCHEDULES_COURSES]
GO
/****** Object:  ForeignKey [FK_COURSE_SCHEDULES_TEACHERS]    Script Date: 08/07/2017 20:14:55 ******/
ALTER TABLE [dbo].[COURSE_SCHEDULES]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_SCHEDULES_TEACHERS] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[TEACHERS] ([TeacherId])
GO
ALTER TABLE [dbo].[COURSE_SCHEDULES] CHECK CONSTRAINT [FK_COURSE_SCHEDULES_TEACHERS]
GO
/****** Object:  ForeignKey [FK_STUDENT_COURSE_COURSES]    Script Date: 08/07/2017 20:14:59 ******/
ALTER TABLE [dbo].[STUDENT_COURSE]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_COURSE_COURSES] FOREIGN KEY([CourseId])
REFERENCES [dbo].[COURSES] ([CourseId])
GO
ALTER TABLE [dbo].[STUDENT_COURSE] CHECK CONSTRAINT [FK_STUDENT_COURSE_COURSES]
GO
/****** Object:  ForeignKey [FK_STUDENT_COURSE_STUDENTS]    Script Date: 08/07/2017 20:14:59 ******/
ALTER TABLE [dbo].[STUDENT_COURSE]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_COURSE_STUDENTS] FOREIGN KEY([StudentId])
REFERENCES [dbo].[STUDENTS] ([StudentId])
GO
ALTER TABLE [dbo].[STUDENT_COURSE] CHECK CONSTRAINT [FK_STUDENT_COURSE_STUDENTS]
GO
/****** Object:  ForeignKey [FK_STUDENT_ATTENDANCE_COURSE_SCHEDULES]    Script Date: 08/07/2017 20:14:59 ******/
ALTER TABLE [dbo].[STUDENT_ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_ATTENDANCE_COURSE_SCHEDULES] FOREIGN KEY([TeachingScheduleId])
REFERENCES [dbo].[COURSE_SCHEDULES] ([TeachingScheduleId])
GO
ALTER TABLE [dbo].[STUDENT_ATTENDANCE] CHECK CONSTRAINT [FK_STUDENT_ATTENDANCE_COURSE_SCHEDULES]
GO
/****** Object:  ForeignKey [FK_STUDENT_ATTENDANCE_COURSES]    Script Date: 08/07/2017 20:14:59 ******/
ALTER TABLE [dbo].[STUDENT_ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_ATTENDANCE_COURSES] FOREIGN KEY([CourseId])
REFERENCES [dbo].[COURSES] ([CourseId])
GO
ALTER TABLE [dbo].[STUDENT_ATTENDANCE] CHECK CONSTRAINT [FK_STUDENT_ATTENDANCE_COURSES]
GO
/****** Object:  ForeignKey [FK_STUDENT_ATTENDANCE_STUDENTS]    Script Date: 08/07/2017 20:14:59 ******/
ALTER TABLE [dbo].[STUDENT_ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_ATTENDANCE_STUDENTS] FOREIGN KEY([StudentId])
REFERENCES [dbo].[STUDENTS] ([StudentId])
GO
ALTER TABLE [dbo].[STUDENT_ATTENDANCE] CHECK CONSTRAINT [FK_STUDENT_ATTENDANCE_STUDENTS]
GO
